﻿@import "./src/ConstantsMixins";

.iframeContainer {
  position: relative; 
  overflow: hidden;
  padding-top: 600px;
  height: 100%;
  width: 100%;
  z-index:-1;
  

  iframe {
    border: 0;
    height: 80%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}


@media(min-width: 360px){

  .iframeContainer{
    padding-top: 700px;
  }

}

@media(min-width: 414px){

  .iframeContainer iframe{
    height: 73%
  }

}

@media(min-width: 500px){
  
  .iframeContainer{
    padding-top: 700px;
  }
  
}


@media(min-width: 768px){
  .iframeContainer{
    padding-top: 1000px;
  }
  .iframeContainer iframe{
    height: 56%
  }
}

@media(min-width: 1024px){
  
  .iframeContainer iframe{
    height: 80%
  }
}
