@import "./src/ConstantsMixins";

* {
  transition: all 0.2s ease-in;
}

.onThisDay{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h2 {
    font-size: $header-two-font-size;
  }
  
  h3 {
    font-size: $header-three-font-size;
  }
  
  .photocard {
    border: none;
    img {
      border-radius: 50%;
      animation: fade 2s ease forwards;
    }
  }
}


@keyframes fade{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}