@import "./src/ConstantsMixins";

  .imageOfTheDay {
      .contentImage {
          width: 100vw;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          background-color: $theme-color-dark;
          justify-content: center;
          color: $theme-color-light;
      }
    }
