@import "./src/ConstantsMixins";

.imageOfTheDay {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $theme-color-dark;
  justify-content: center;
  color: $theme-color-light;
}
