@import './src/ConstantsMixins.scss';

.hero {
    
    // TODO - can be removed once WeatherOnMars branch has been merged (contains NavBar fix)
    margin-top: 100px;
    //

    display: flex;
    flex-direction: column;
    align-items: center;
    
    img {
        height: auto;
        width: 75vw;
    }
}


.curiosity{
    @include curiosityThemeColor;
}

.opportunity{
    @include opportunityThemeColor;
}

.spirit{
    @include spiritThemeColor;
}

@media (min-width: 500px){
    .hero h1{
        font-size: 30px;
    }
}

@media (min-width: 768px){
    .hero h1{
        font-size: 40px;
    }
    .hero img {
         width: 600px;
     }
}

@media (min-width: 1024px){
    .hero h1{
        font-size: 55px;
    }
}