@import "./src/ConstantsMixins";

.hero {
    // TODO - can be removed once WeatherOnMars branch has been merged (contains NavBar fix)
    margin-top: 100px;
    //

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        width: 100vw;
        text-align: center;
        color: white;
        font-size: 22px;
    }

    img {
        height: auto;
        width: 75vw;
    }
}


.curiosity{
     h1 {
         @include theme-headers()
     }
 }

.opportunity{
    h1 {
        @include theme-headers($opportunity-theme-color)
    }
}

.spirit{
    h1 {
        @include theme-headers($spirit-theme-color)
    }
}

@media (min-width: 500px){
    .hero h1{
        font-size: 30px;
    }
}

@media (min-width: 768px){
    .hero h1{
        font-size: 40px;
    }
    .hero img {
        width: 600px;
    }
}

@media (min-width: 1024px){
    .hero h1{
        font-size: 55px;
    }
}
