//Please read README section on Styling before editing or creating SCSS

@import "./src/ConstantsMixins";

.roverNav{
  margin-top: 100px;
  padding-left: 0;
  border: solid 2px $background-color-dark;
  .roverNavItem{
    border: solid 2px $accent-color-mars-red;
    display: flex;
    align-items: center;
    height : 30vh;
    .roverNavImage{
      height : 90%;
      border-radius: 50%;
      padding : 0 5px
    }
    .roverNavLink{
      padding: 10px 7vw;
      height : 30px;
    }
  }
  .rightAlign{
    flex-direction : row;
    flex-wrap: wrap;
    justify-content : flex-start;
    
  }
  .leftAlign{
    flex-direction : row-reverse;
    flex-wrap: wrap-reverse;
    justify-content : flex-start;
  }
}