@import "./src/ConstantsMixins";

.quotecard {
  @include standard-border();
  padding: 1em;
  width: 40vw;
  text-align: center;
  display:flex;
  flex-direction: column;
}

.quoteText{
  
}

.quoteAuthor{
  
}