@import "./src/ConstantsMixins";

.roverGalleryImage {
  margin:1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in;
  
  h2 {
    font-size: $header-two-font-size;
    color: $accent-color;
  }

  img {
    border-radius: 50%;
    animation: fade 2s ease forwards;
    z-index: -1;
    max-width: 50vw;
    padding: .24em;
  }
  
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

