@import "./src/ConstantsMixins";
.photocard{
  border : solid 2px $background-color-dark;
  display : flex;
  flex-direction : column;
  align-items: center;
  width : 300px;
  height : 450px;
  margin: 2rem;
  padding: 1rem;
  border-radius: 10%;
  font-size : large;
  text-align : center;
  
  .contentImage{
    width : 90%;
    height : 68%;
  }
  
  .contentTitle{
    height: 10%;
    width: 90%;
    text-decoration: underline
    
  }
  
  .contentDescription{
    height: 15%;
    width: 90%;
    font-size: smaller;
  }
}