@import './src/ConstantsMixins.scss';

﻿.spacer{
  height: 100px;
  width: 100%;
}

.navBar {
  text-decoration: none;
  font-size: $header-two-font-size;
  background-image: linear-gradient(to right, $light-font, $background-color-dark);
  display: flex;
  width: 100vw;
  height: 10vh;
  top: 0;
  justify-content: space-between;
  align-items: center;


  /*Hamburger code here:*/

  .menuIcon {
    cursor: pointer;
    display: inline-block;
    /*float: right;*/
    padding: 20px;
    position: relative;
    user-select: none;
    order: 1;
    justify-self: flex-end;

    .navIcon {
      background: $background-color-light;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
    }

    .navIcon:before,
    .navIcon:after {
      background: $background-color-light;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }

    .navIcon:before {
      top: 5px;
    }

    .navIcon:after {
      top: -5px;
    }
  }


  .menuButton {
    display: none;
  }

  .menuButton:checked ~ .menu {
    background-color: $background-color-dark;
    position: fixed;
    top: 100px;
    right: 0;
    width: 150px;
    max-height: 300px;
    justify-content: center;
  }

  .menuButton:checked ~ .menuIcon .navIcon {
    background: transparent;
  }

  .menuButton:checked ~ .menuIcon .navIcon:before {
    transform: rotate(-45deg);
  }

  .menuButton:checked ~ .menuIcon .navIcon:after {
    transform: rotate(45deg);
  }

  .menuButton:checked ~ .menuIcon:not(.steps) .navIcon:before,
  .menuButton:checked ~ .menuIcon:not(.steps) .navIcon:after {
    top: 0;
  }

  /* Hamburger code ends*/


  .logo {
    padding-left: 20px;
    height: 50px;
  }

  .menu {
    max-height: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;


    .navItem {
      padding: 10px;

      .navLink {
        @include navbar-font;
        text-decoration: none;
      }

      .navLink:hover {
        @include text-on-dark-background-hover;
      }
    }
  }

  //no Hamburger for tablets and larger

  @media (min-width: 768px) {

    .menu {
      font-size: 22px;
      padding-right: 10px;
      max-height: none;
    }

    .menuIcon {
      display: none;
    }
  }

  //larger font-size and logo for laptops/desktop

  @media (min-width: 1024px) {

    .menu {
      font-size: 28px;
    }

    .logo {
      height: 75px;
    }
  }

}









