@import './src/ConstantsMixins.scss';

.navBar {
  text-decoration: none;
  background-image: linear-gradient(to right, $light-yellow-font, $background-blue);
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  top: 0;
  justify-content: space-between;
  align-items: center;


  /*Hamburger code here:*/

  .menuIcon {
    cursor: pointer;
    display: inline-block;
    /*float: right;*/
    padding: 20px;
    position: relative;
    user-select: none;
    order: 1;
    justify-self: flex-end;

    .navIcon {
      background: white;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
    }

    .navIcon:before,
    .navIcon:after {
      background: white;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }

    .navIcon:before {
      top: 5px;
    }

    .navIcon:after {
      top: -5px;
    }
  }

  .menuButton {
    display: none;
  }

  .menuButton:checked ~ .menu {
    background-color: darkgrey;
    position: fixed;
    top: 100px;
    right: 0;
    width: 200px;
    max-height: 300px;
    justify-content: center;
  }

  .menuButton:checked ~ .menuIcon .navIcon {
    background: transparent;
  }

  .menuButton:checked ~ .menuIcon .navIcon:before {
    transform: rotate(-45deg);
  }

  .menuButton:checked ~ .menuIcon .navIcon:after {
    transform: rotate(45deg);
  }

  .menuButton:checked ~ .menuIcon:not(.steps) .navIcon:before,
  .menuButton:checked ~ .menuIcon:not(.steps) .navIcon:after {
    top: 0;
  }

  /* Hamburger code ends*/


  .logo {
    padding-left: 20px;
    height: 50px;
  }
  
  .menu {
    max-height: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;


    .navItem {
      padding: 10px;

      .navLink {
        @include navbar-font;
        text-decoration: none;
      }

      .navLink:hover {
        @include text-on-dark-background-hover;
      }
      
    }
  }

  //no Hamburger for tablets and larger
  
      @media (min-width: 768px) {
      .menuIcon {
        display: none;
      }
      
      .menuButton:checked ~ .menu {
        display: none;
      }
      .menu {
        padding-right: 10px;
        max-height: none;
      }
    }
  
  //larger font-size and logo for laptops/desktop

  @media (min-width: 1000px) {

    .logo {
      height: 75px;
    }
  }

}









