﻿@import "./src/ConstantsMixins";
.footer {
    position: fixed;
    bottom: 0;
    padding: 5px;
    height: 3vh;
    min-height: 30px;
    max-height : 70px;
    background-color: $background-color-light;
    width: 100%;
    text-align: center;
    .footerText{
        height :1em
    }
}