@import './ConstantsMixins.scss';

.roverNav{
  margin-top : 100px;
  margin-bottom: 35px;
  
}

/* font styles */
html {
  @include html-base-font;
}

p {
  font-size: $para-font-size;
}

h3{
  font-size: $header-three-font-size;
}
h2{
  font-size: $header-two-font-size;
}
h1{
  font-size: $header-one-font-size;
}





