@import './ConstantsMixins.scss';

/* font styles */
html {
  @include html-base-font;
}

p {
  font-size: $para-font-size;
}

h3{
  font-size: $header-three-font-size;
}
h2{
  font-size: $header-two-font-size;
}
h1{
  font-size: $header-one-font-size;
}
.quoteClass{
  font-size: $quote-font-size;
  font-style: italic;
}
.labelClass{
  font-size: $label-font-size;
}


//Remove Presets

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: unset;
}

/* Remove default margin */
html,
a,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: unset;
  font-size: unset;
  text-decoration: unset;
  font-weight: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  display: unset;
  color: unset;
  background-color: unset;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}


/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  border-width: $Scale*0.75;
  margin: $Scale*0.75;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}



