//This file should be the only place where in-built components should be styled!

@import './ConstantsMixins.scss';

* {
  max-width: 100vw;
}
/* font styles */
html {
  @include html-base-font;
}

p {
  font-size: $para-font-size;
}

h3{
  font-size: $header-three-font-size;
}
h2{
  font-size: $header-two-font-size;
}
h1{
  font-size: $header-one-font-size;
}



//Remove Presets

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: unset;
}

/* Remove default margin */
html,
a,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: unset;
  font-size: unset;
  text-decoration: unset;
  font-weight: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  display: unset;
  color: $font-color-light;
  background-color: unset;
}



//Forms & Input
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  label{
    input{
      width: 60vw;
    }
  }
  input {
    margin: .5rem;
    height: 30px;
  }
}
/* Set core body defaults */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: $theme-color-dark;
  background-image: url("../src/Components/whiteallstars.gif");
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}


/* Make images easier to work with */
img {

}



/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}




