//Please read README section on Styling before editing or creating SCSS
// This is your home for all shared themes and styles, please import it

//Size Reference
$scale: 1vw;

//Borders & Headers - recolor by theme

@mixin theme-borders($border-color: $curiosity-theme-color) {
  border-style: solid;
  border-width: .2*$scale;
  border-color: $border-color;
  border-radius: .2*$scale;
}

@mixin theme-headers($background-color: $curiosity-theme-color) {
  background-color: $background-color;
  font-size: $header-one-font-size;
}

/* Site colours */
$curiosity-theme-color: rgba(94, 7, 30, 0.91);
$theme-color-dark: rgb(12, 2, 16);
$opportunity-theme-color:	rgba(206, 66, 87, 1);
$spirit-theme-color:	rgba(255, 127, 81, 1);
$theme-color-light: rgba(4, 1, 6, 0.55);
$font-color-light: rgb(255, 255, 255);

/* Site Fonts */
$font-family-OpenSans:'Roboto', sans-serif;
$font-family-headers:'Oxanium', cursive;


$para-font-size:1em;
$quote-font-size:.95em;
$label-font-size:.90em;
$navbar-font-size: 20px;
$navbar-font-size-larger-screens: 40px;
$header-three-font-size: 1.5em;
$header-two-font-size: 2em;
$header-one-font-size: 2.5em;

@mixin standard-border($border-color: $theme-color-dark) {
  border-style: outset;
  border-width: .2*$scale;
  border-color: $border-color;
}
@mixin navbar-font($font-size: $navbar-font-size) {
  font-family: $font-family-headers;
  font-size: $font-size;
  color: $font-color-light;
  padding-right: 4*$scale;
}

@mixin html-base-font {
  font-family: $font-family-OpenSans;
  font-size: $para-font-size;
}

@mixin text-on-dark-background-hover {
  text-decoration: none;
  color: $theme-color-light;
}
