/* Site colours */
$primary-color: rgba(36, 30, 78, 1);
$accent-color: rgba(150, 2, 0, 1);
$secondary-color: rgba(206, 108, 71, 1);
$foreground-color: rgba(244, 162, 97, 1);
$background-color: rgba(234, 218, 162, 1);

/* Site Fonts */
$font-family-OpenSans:'Open Sans', sans-serif;
$font-family-Ubuntu:'Ubuntu', sans-serif;

$para-font-size:1em;
$quote-font-size:.95em;
$label-font-size:.90em;
$header-three-font-size: 1.5em;
$header-two-font-size: 2em;
$header-one-font-size: 2.5em;
  
