//Please read README section on Styling before editing or creating SCSS

// This is your home for all shared themes and styles, please import it



//Size Reference
$Scale: 1vw;

/* Site colours */
$background-color-dark: rgb(23, 3, 29);
$background-color-light: rgb(182, 188, 244);
$accent-color-mars-red: rgb(255, 0, 18);
$secondary-color-mid-tone: rgb(255, 84, 9);
$foreground-color-light: rgb(244, 82, 79);
$light-font: rgb(243, 215, 212);

/* Rover Theme Colors */
$curiosityThemeColor: #a1fea1;
$spiritThemeColor: #ffa6bc;
$opportunityThemeColor: #ffeb6b;

/* Site Fonts */
$font-family-OpenSans:'Open Sans', sans-serif;
$font-family-Ubuntu:'Ubuntu', sans-serif;

$para-font-size:0.5em;
$quote-font-size:.95em;
$label-font-size:.90em;
$header-three-font-size: 1.5em;
$header-two-font-size: 2em;
$header-one-font-size: 2.5em;



@mixin navbar-font {
  font-family: $font-family-Ubuntu;
  font-size: $header-two-font-size;
  color: $light-font;
}

@mixin html-base-font {
  font-family: $font-family-OpenSans;
  font-size: $para-font-size;
}

@mixin text-on-dark-background-hover {
  text-decoration: none;
  color: $light-font;
}

@mixin hero-astronomy-image-of-the-day {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $background-color-dark;
  justify-content: center;
  color: $light-font;

}
