@import './Constants.scss';



div{
  font-family: $font-family-OpenSans;
}
p {

  font-size: $para-font-size;
}

h3{
  font-size: $header-three-font-size;
}
h2{
  font-size: $header-two-font-size;
}
h1{
  font-size: $header-one-font-size;
}
.quoteClass{
  font-size: $quote-font-size;
  font-style: italic;
}
.labelClass{
  font-size: $label-font-size;
}